[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MCMCglmm"]
	path = MCMCglmm
	url = https://github.com/jarrodhadfield/mcmcglmm
